services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Zurich
      - WEBUI_PORT=8080
    volumes:
      - /mnt/appdata/qbittorrent:/config
      - /mnt/media-server/torrents:/downloads
    ports:
      - "8080:8080"     # Web UI
      - "6881:6881"     # Torrent TCP
      - "6881:6881/udp" # Torrent UDP
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Zurich
    volumes:
      - /mnt/appdata/prowlarr:/config
    ports:
      - "9696:9696"
    restart: unless-stopped
    depends_on:
      - qbittorrent

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Zurich
    volumes:
      - /mnt/appdata/radarr:/config
      - /mnt/media-server/media/movies:/movies
      - /mnt/media-server/torrents:/downloads
    ports:
      - "7878:7878"
    restart: unless-stopped
    depends_on:
      - prowlarr
      - qbittorrent

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Zurich
    volumes:
      - /mnt/appdata/sonarr:/config
      - /mnt/media-server/media/shows:/tv
      - /mnt/media-server/torrents:/downloads
    ports:
      - "8989:8989"
    restart: unless-stopped
    depends_on:
      - prowlarr
      - qbittorrent

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=info
      - TZ=Europe/Zurich
    volumes:
      - /mnt/appdata/jellyseerr:/app/config
    ports:
      - "5055:5055"
    restart: unless-stopped
    depends_on:
      - radarr
      - sonarr

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Zurich
    volumes:
      - /mnt/appdata/jellyfin:/config
      - /mnt/media-server/media:/data
    ports:
      - "8096:8096"
    restart: unless-stopped

  # plex: # plex is an alternative to jellyfin. It's closed-source and requires a subscription for the ability to stream from outside of your local network. I think it also supports automatic pre-transcoding of the video library to more compatible formats, but I've only tried it a little. Uncomment this block and add a PLEX_CLAIM token from https://account.plex.tv/claim
  #   image: lscr.io/linuxserver/plex:latest
  #   container_name: plex
  #   environment:
  #     - PUID=1000
  #     - PGID=1000
  #     - TZ=Europe/Zurich
  #     - PLEX_CLAIM=claim-CHANGEME
  #   volumes:
  #     - /mnt/appdata/plex:/config
  #     - /mnt/media-server/media:/data
  #   ports:
  #     - "32400:32400"
  #   restart: unless-stopped